<div class="assignment-container">
  <div class="assignment-row pt-14">
    <div class="assignment-col-titles">
      <a class="position-relative hover mb-1" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        All (4)
        <span class="material-symbols-outlined color-success position-absolute">
          keyboard_arrow_down
        </span>
      </a>
      <div class="collapse show" id="collapseExample">
        <div class="list-group collapse-border">
          <a href="#" class="p-12 list-group-item-action active top-message border-bottom" aria-current="true">
            <div class="d-flex justify-content-between fs-xs mb-1">
              <span class="">Chapter Assignment 2</span>
              <span class="">4 hrs ago</span>
            </div>
            <div class="d-flex justify-content-between">
              <h4 class="text-bold">Please check this file…</h4>
              <span class="fs-xs align-content-c d-block text-gray-600">Emily Wang</span>
            </div>
          </a>
          <a href="#" class="p-12 list-group-item-action border-bottom">
            <div class="d-flex justify-content-between fs-xs mb-1">
              <span class="">Chapter Assignment 1</span>
              <span class="">12 hrs ago</span>
            </div>
            <div class="d-flex justify-content-between">
              <h4 class="text-bold">My Homework</h4>
              <span class="fs-xs align-content-c d-block text-gray-600">David Xu</span>
            </div>
          </a>
          <a href="#" class="p-12 list-group-item-action border-bottom">
            <div class="d-flex justify-content-between fs-xs mb-1">
              <span class="">Final Assignment</span>
              <span class="">18 hrs ago</span>
            </div>
            <div class="d-flex justify-content-between">
              <h4 class="text-bold">Have a problem with this…</h4>
              <span class="fs-xs align-content-c d-block text-gray-600">Tony Wei</span>
            </div>
          </a>
          <a href="#" class="p-12 list-group-item-action border-bottom">
            <div class="d-flex justify-content-between fs-xs mb-1">
              <span class="">Final Assignment</span>
              <span class="">19 hrs ago</span>
            </div>
            <div class="d-flex justify-content-between">
              <h4 class="text-bold">Did I do it right?</h4>
              <span class="fs-xs align-content-c d-block text-gray-600">Christina Lin</span>
            </div>
          </a>
        </div> 
      </div>      
    </div>
    <div class="assignment-col-content">
      <span class="d-block text-align-r fs-xs text-gray-600">2 comments</span>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item mb-3">
          <h2 class="accordion-header p-12 ps-3 border-bottom bg-gray-100" id="panelsStayOpen-headingOne">
            <a href="#" class="d-flex justify-content-between hover align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              <div class="">
                <span class="d-block fs-xs">Chapter Assignment 2 / HTML&CSS</span>
                <span class="d-block text-bold">Please check this file for me, thanks!</span>
              </div>
              <span class="material-symbols-outlined icon-24">
                more_vert
              </span>
            </a>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <div class="d-flex">
                <img src="https://images.unsplash.com/photo-1504051771394-dd2e66b2e08f?ixlib=rb-1.2.1&ixid=eyjhchbfawqiojeymdd9&auto=format&fit=crop&w=2134&q=80" alt="sender-logo" class="avatar me-1">
                <div class="mb-3">
                  <span class="text-bold mb-1 d-block">Emily Wang</span>
                  <div class="fs-xs text-gray-600">10:38 AM (4 hours ago)</div>
                </div>
              </div>
              <div class="pl-48 pr-32">
                <p class="mb-3 fs-sm">Hi Teacher, the attached file is my homework of chapter 2. And here comes a question: Why in the following code the height of the div is bigger than the height of the img ? There is a gap below the image, but it doesn’t seems to be a padding/margin. What is the gap or extra space below image?</p>
                <button class="btn btn-outline-secondary text-dark">HW-2-David.zip</button>
                <hr>
              </div>
            </div>
          </div>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <div class="d-flex">
                <img src="https://images.unsplash.com/photo-1514794749374-fb67509dbb7f?ixlib=rb-1.2.1&ixid=eyjhchbfawqiojeymdd9&auto=format&fit=crop&w=2000&q=80" alt="sender-logo" class="avatar me-1">
                <div class="mb-3 w-100">
                  <div class="d-flex justify-content-between pr-12">
                    <span class="text-bold mb-1 d-block">Andy Chen (You)</span>
                    <div class="d-flex gap-4">
                      <span class="material-symbols-outlined cursor-p hover">
                        star
                      </span>
                      <span class="material-symbols-outlined cursor-p hover">
                        ink_pen
                      </span>
                    </div>
                  </div>
                  <div class="fs-xs text-gray-600">13:24 AM (1 hours ago)</div>
                </div>
              </div>
              <div class="pl-48 pr-32">
                <p class="mb-3 fs-sm">Hi David, by default, an image is rendered inline, like a letter so it sits on the same line that a, b, c and d sit on. There is space below that line for the descenders you find on letters like g, j, p and q.
                  You can:
                  <ul>
                    <li>adjust the vertical-align of the image to position it elsewhere (e.g. the middle ) or</li>
                    <li>change the display so it isn’t inline.</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <div class="d-flex gap-4 align-items-center">
          <span class="material-symbols-outlined cursor-p hover">
            chevron_left
          </span>
          <span class="material-symbols-outlined cursor-p hover">
            chevron_right
          </span>
        </div>
        <div class="reply-btns bg-white border-0">
          <button class="btn rounded-0 btn-outline-success me-2">Mark as read</button>
          <button class="btn rounded-0 btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#reply-edit" aria-expanded="false" aria-controls="collapseExample">
            Reply
          </button>
        </div>
      </div>
      <div class="card collapse" id="reply-edit">
        <div class="d-flex p-3 ps-4 editor card-header">
          <span class="dropdown">
            <button class="btn btn-light dropdown-toggle bg-gray-100 no-border text-bold dropdown-btn hover" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              All Courses
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </span>
          <span class="material-symbols-outlined hover cursor-p">
            format_bold
          </span>        
          <span class="material-symbols-outlined hover cursor-p">
            format_italic
          </span>
          <span class="material-symbols-outlined hover cursor-p">
            format_list_bulleted
          </span>
          <span class="material-symbols-outlined hover cursor-p">
            format_list_numbered
          </span>
          <span class="material-symbols-outlined hover cursor-p">
            image
          </span>
          <span class="material-symbols-outlined hover cursor-p">
            link
          </span>
          <span class="material-symbols-outlined hover cursor-p">
            task
          </span>
        </div>
        <div class="card-body pe-4 ps-4">
          <textarea name="" id="" rows="8" placeholder="Reply an answer…" class="w-100 reply-input"></textarea>
          <div class="reply-btns d-flex justify-content-end">
            <button class="btn rounded-0 btn-outline-success me-2">Cancel</button>
            <button class="btn rounded-0 btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#reply-edit" aria-expanded="false" aria-controls="collapseExample">
              Reply
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
