<nav class="d-flex p-32 justify-content-between">
  <div class="d-flex text-bold">
    <h2 class="fs-xl mr-50"><%= category %></h2>
    <div class="dropdown">
      <button class="btn btn-light bg-white no-border text-bold dropdown-btn hover" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        All Courses
        <span class="material-symbols-outlined color-success">
          keyboard_arrow_down
        </span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
  <div class="fs-lg d-flex align-items-center nav-icons">
    <span class="material-symbols-outlined cursor-p hover">
      search
    </span>
    <span class="material-symbols-outlined cursor-p hover">
      notifications_active
    </span>
  </div>
</nav> 
