<div class="">
  <a href="index.html" class="logo">
    <h1 class="">
      <img src="../assets/images/logo-ANSWER.png"  alt="cat">
    </h1>
  </a>
  <div class="text-bold">
    <div class="list-group list-group" id="list-tab" role="tablist">
      <a class="list-group-item sidebar-item list-group-item-action d-flex" id="list-dashboard-list" data-bs-toggle="list" href="#list-dashboard" role="tab" aria-controls="list-home">
        <span class="material-symbols-outlined">
          bar_chart
        </span>
        <span>Dashboard</span>                
      </a>
      <a class="list-group-item sidebar-item list-group-item-action d-flex " id="list-question-list" data-bs-toggle="list" href="#list-question" role="tab" aria-controls="list-profile">
        <span class="material-symbols-outlined">
          forum
        </span>
        <span>Question</span>                
      </a>
      <a class="list-group-item sidebar-item list-group-item-action d-flex active" id="list-assignment-list" data-bs-toggle="list" href="#list-assignment" role="tab" aria-controls="list-messages">
        <span class="material-symbols-outlined">
          assignment
        </span>
        <span>Assignment</span>                
      </a>
      <a class="list-group-item sidebar-item list-group-item-action d-flex " id="list-course-list" data-bs-toggle="list" href="#list-course" role="tab" aria-controls="list-settings">
        <span class="material-symbols-outlined">
          video_library
        </span>
        <span>Course</span>                
      </a>
      <a class="list-group-item sidebar-item list-group-item-action d-flex " id="list-admin-list" data-bs-toggle="list" href="#list-admin" role="tab" aria-controls="list-settings">
        <span class="material-symbols-outlined">
          group
        </span>
        <span>Admin</span>                
      </a>
      <a class="list-group-item sidebar-item list-group-item-action d-flex " id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">
        <span class="material-symbols-outlined">
          settings
        </span>
        <span>Settings</span>                
      </a>
    </div>
  </div>          
</div>
<div class="user">
  <div class="d-flex">
    <img src="https://images.unsplash.com/photo-1514794749374-fb67509dbb7f?ixlib=rb-1.2.1&ixid=eyjhchbfawqiojeymdd9&auto=format&fit=crop&w=2000&q=80" alt="user-logo" class="avatar me-3">
    <ul class="d-flex flex-column justify-content-between">
      <li class="cursor-p hover">Andy Chen</li>
      <li class="cursor-p hover fs-sm text-gray-600">andy0401@mail.com</li>
    </ul>
  </div>
</div>